
/* -- Body --*/
body{
    font-family: Roboto;
    background-image: url("../img/bg-lista.jpg")
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: rgba(39, 41, 36, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: #000 0px 4px 10px;
}
.cabecalho h1{
    color: #fff;
    font-size: 50px;
    font: bold; 
    border: solid 7px #fff;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */

.principal{
 margin: 20px;
}

.listas{
    text-align: center;
    background-color: rgba(39, 41, 36, 0.8);
    box-shadow: #000 4px 4px 10px;
    font-size: 25px;
    color: #F2F0F0;
    padding: 5px;
    margin: 15px;
    display: inline-block;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btnCriar{
    font-size: 20px;
    margin: 15px;
    min-width: 100px;
    width: 20%;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #E6EED6;
}

.btnCriar:hover{
    background-color: rgba(0, 0, 0, 0.8);;
}

input{
    margin-bottom: 15px;
    width: 60%;
    border: none;
    border-bottom: solid 2px #fff;
    background: none;
    color: #fff;
    font-size: 18px;
}
label{
    font-size: 20px;
    margin-bottom: 0px;
}

.formulario-cadastro button{
    font-size: 20px;
    margin-bottom: 15px;
    min-width: 100px;
    width: 40%;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #E6EED6;
}

.formulario-cadastro button:hover{
    background-color: rgba(0, 0, 0, 0.8);;
}

/* -- Roda Pé -- */
.roda-pe{
    width: 100%;
    background-color: rgba(39, 41, 36, .9);
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 900px;
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

