/* -- Paletasa de Cores https://coolors.co/e6eed6-dde2c6-bbc5aa-a22522-e76f51 -- */


/* -- Resetando o CSS -- */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

/* -- Body --*/
body{
    font-family: Roboto;
    background-color: #E76F51;

}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: #E6EED6;
    padding: 40px 0;
    text-align: center;
    
}
.cabecalho h1{
    color: #A22522;
    font-size: 72px;
    font: bold; 
    border: solid 7px #A22522;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */
.cadastro{
    width: 65%;
    float: left;
    padding: 25px;
    padding-right: 12.5px;
}

.login{
    width: 35%;
    float: left;
    padding: 25px;
    padding-left: 12.5px;

}

.principal {
    text-align: center;
}

.principal p{
    font-size: 45px;
    color: #F2F0F0;
    text-transform: uppercase;
    padding: 5px;
    border-bottom: solid 3px#F2F0F0;
    display: inline-block;
}

/* -- Roda Pé -- */
.roda-pe{
    background-color: #133C55;
    padding: 40px 0;
    text-align: center;
    clear: both;
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

