/* -- Paleta de Cores https://coolors.co/e6eed6-dde2c6-bbc5aa-a22522-e76f51 -- */

/* -- Body --*/
body{
    font-family: Roboto;
    background-color: E76F51;
}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: #E6EED6;
    padding: 40px 0;
    text-align: center;
    
}
.cabecalho h1{
    color: #A22522;
    font-size: 72px;
    font: bold; 
    border: solid 7px #A22522;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */

.principal p{
    font-size: 45px;
    color: #E76F51;
    text-transform: uppercase;
    padding: 5px;
    margin: 15px 0 15px 0;
    display: inline-block;
}

/* -- Formulário de Cadastro -- */

.cadastro{
    width: 65%;
    float: left;
    padding: 50px;
    padding-right: 25px;
    text-align: center;
    
}

.background{
    background-color: rgba(187,197,170, .5);
}

.formulario-cadastro input{
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgba(230,238,214, .8);
    border: solid 2px black;
    border-radius: 10px;
}


.formulario-cadastro label{
    font-size: 23px;
    color: #F2F0F0;
}

.formulario-cadastro button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(162,37,34, .9);
    color: #E6EED6;
}

.formulario-cadastro button:hover{
    background-color: #BBC5AA;
    color: #130400;
    transition: 1s;
    border: 2px solid #A22522;
}

/* -- Formulário de Login -- */


.login{
    width: 35%;
    float: left;
    padding: 50px;
    padding-left: 25px;
    text-align: center;

}

.formulario-login input{
    color: black;
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgba(230,238,214, .8);
    border: solid 2px black;
    border-radius: 10px;
    
}

.formulario-login label{
    font-size: 23px;
    color: #F2F0F0;
   
    
}

.formulario-login button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(0,0,05, .8);
    color: #E6EED6;
}

.formulario-login button:hover{
    background-color: #BBC5AA;
    color: #130400;
    transition: 1s;
    border: 2px solid #A22522;
}


/* -- Roda Pé -- */
.roda-pe{
    background-color: #133C55;
    padding: 40px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

/*--Página de usuário--*/

.corpoUser {
    margin: auto;
    background-color: #E76F51;
    text-align: center;
    padding-bottom: 120px;
}
.cabecalhoUser {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}
.listasUser {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #cf9b7f;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}
.listasConvidado {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #cf9b7f;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}

.listasNaLista {
    
    margin: auto;
    margin-top: 10px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
}
.textoTitulo {
    color: #E6EED6;
    font-size: 30px;
    font-weight: 600;
}
.btn-lista {
    margin-top: 20px;
    font-size: 25px;
    background-color: rgba(162,37,34);
    color: #E6EED6;
    padding: 20px 30px 20px 30px;
    border: 3px solid black;
    border-radius: 5px;
    transition: .5s;
}
.btn-lista:hover{
    background-color: #E6EED6;
    color: #130400;
}
p2 {
    color: #E6EED6;
    font-size: 25px;
    font-style: bold;
}
p3 {
    color: #A22522;
    font-size: 25px;
    font-style: bold;
}
p4 {
    color: #A22522;
    font-size: 20px;
}
ul#listaCriada {    
    padding: 10px 10px 10px 10px;
}
li.listasMae{
    font-size: 22px;
    color: #A22522;
    padding: .5px 0px .5px 0px;
    margin: auto;
    margin-top: 10px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}
#modalNomeLista {
    margin: auto;
}
#tabelaItens {
    margin: auto;
}
#tabelaItens th {
    margin: auto;
}

/*Altera a cor do modal*/
.modal-content#modalAdcItem {
    background-color: #E6EED6;
}

