/* -- Paletasa de Cores https://coolors.co/e6eed6-dde2c6-bbc5aa-a22522-e76f51 -- */


/* -- Resetando o CSS -- */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

/* -- Body --*/
body{
    font-family: Roboto;
    background-color: E76F51;

}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: #E6EED6;
    padding: 40px 0;
    text-align: center;
    
}
.cabecalho h1{
    color: #A22522;
    font-size: 72px;
    font: bold; 
    border: solid 7px #A22522;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */

.principal{
    
}

.principal p{
    font-size: 45px;
    color: #F2F0F0;
    text-transform: uppercase;
    padding: 5px;
    margin: 15px 0 15px 0;
    border-bottom: solid 3px#F2F0F0;
    display: inline-block;
}

/* -- Formulário de Cadastro -- */

.cadastro{
    width: 65%;
    float: left;
    padding: 50px;
    padding-right: 25px;
    text-align: center;
    
}

.background{
    background-color: rgba(187,197,170, .5);
}

.formulario-cadastro input{
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgba(230,238,214, .8);
    border: solid 2px black;
    border-radius: 10px;
}


.formulario-cadastro label{
    font-size: 23px;
    color: #F2F0F0;
}

.formulario-cadastro button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(162,37,34, .9);
    color: #E6EED6;
}

.formulario-cadastro button:hover{
    background-color: #BBC5AA;
    color: #130400;
    transition: 1s;
    border: 2px solid #A22522;
}

/* -- Formulário de Login -- */


.login{
    width: 35%;
    float: left;
    padding: 50px;
    padding-left: 25px;
    text-align: center;

}

.formulario-login input{
    color: black;
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    background-color: rgba(230,238,214, .8);
    border: solid 2px black;
    border-radius: 10px;
    
}

.formulario-login label{
    font-size: 23px;
    color: #F2F0F0;
   
    
}

.formulario-login button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(0,0,05, .8);
    color: #E6EED6;
}

.formulario-login button:hover{
    background-color: #BBC5AA;
    color: #130400;
    transition: 1s;
    border: 2px solid #A22522;
}


/* -- Roda Pé -- */
.roda-pe{
    background-color: #133C55;
    padding: 40px 0;
    text-align: center;
    clear: both;
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

/*--Página de usuário--*/

.corpoUser {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
}
.cabecalhoUser {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
}
.listasUser {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #cf9b7f;
    text-align: center;
    border-radius: 5px;
}
.listasNaLista {
    width: 800px;
    margin: auto;
    margin-top: 10px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
}
.textoTitulo {
    color: #A22522;
    font-size: 30px;
    font-weight: 600;
}
.btn-lista {
    margin-top: 20px;
    font-size: 20px;
    color: #A22522;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
}
p2 {
    color: #E6EED6;
    font-size: 25px;
    font-style: bold;
}
p3 {
    color: #A22522;
    font-size: 25px;
    font-style: bold;
}
p4 {
    color: #A22522;
    font-size: 20px;
}
ul#listaCriada {
    color: #A22522;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
#listaNova{
    padding: .5px 366px .5px 366px;
    margin: auto;
    margin-top: 10px;
    background-color: #E6EED6;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
}
#modalNomeLista {
    margin: auto;
}

/*Altera a cor do modal*/
.modal-content#modalAdcItem {
    background-color: #E6EED6;
}

