/* -- Paletasa de Cores https://coolors.co/e6eed6-dde2c6-bbc5aa-a22522-e76f51 -- */


/* -- Resetando o CSS -- */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

/* -- Body --*/
body{
    font-family: Roboto;
    background-image: url("../img/bg-lista.jpg")

}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: rgba(39, 41, 36, 0.8);
    padding: 40px 0;
    text-align: center;
    box-shadow: #000 0px 4px 10px;
    
}
.cabecalho h1{
    color: #fff;
    font-size: 72px;
    font: bold; 
    border: solid 7px #fff;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */

.principal{
        
}

.principal p{
    font-size: 45px;
    color: #F2F0F0;
    text-transform: uppercase;
    padding: 5px;
    margin: 15px 0 15px 0;
    border: solid 3px#F2F0F0;
    display: inline-block;
}

/* -- Formulário de Cadastro -- */

.cadastro{
    width: 65%;
    float: left;
    padding: 50px;
    padding-right: 25px;
    text-align: center;
}

.background{
    background-color: rgba(39, 41, 36, 0.6);
    box-shadow: #000 4px 4px 10px;
}

.formulario-cadastro input{
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    border-bottom: solid 2px #fff;
    background: none;
    color: #fff;
}


.formulario-cadastro label{
    font-size: 23px;
    color: #F2F0F0;
}

.formulario-cadastro button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #E6EED6;
}

.formulario-cadastro button:hover{
    background-color: rgba(0, 0, 0, 0.8);;


}

.aviso{
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px; 
    font: bolder;
    display: block;
    position: relative;
}

/* -- Formulário de Login -- */


.login{
    width: 35%;
    float: left;
    padding: 50px;
    padding-left: 25px;
    text-align: center;

}

.formulario-login input{
    color: #fff;
    padding: 5px;
    margin-bottom: 15px;
    width: 300px;
    background: none;
    border-bottom: solid 2px #fff;
}

.formulario-login label{
    font-size: 23px;
    color: #F2F0F0;
   
    
}

.formulario-login button{
    font-size: 20px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: #E6EED6;
}

.formulario-login button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}


/* -- Roda Pé -- */
.roda-pe{
    background-color: rgba(39, 41, 36, .9);
    padding: 40px 0;
    text-align: center;
    clear: both;
    border-top: black 3px rgba(0, 0, 0, 1);
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

