
/* -- Body --*/
body{
    font-family: Roboto;
    background-image: url("../img/bg-lista.jpg");
    background-position: center;
    background-attachment: fixed;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
p3 {
    color: #E6EED6;
}
.p3v {
    color: rgb(21, 255, 0);
}

/* -- Cabeçalho -- */
.cabecalho{
    background-color: rgba(39, 41, 36, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: #000 0px 4px 10px;
}
.cabecalho h1{
    color: #fff;
    font-size: 50px;
    font: bold; 
    border: solid 7px #fff;
    display: inline-block;
    padding: 5px 15px;
}

/* -- Main -- */

.principal{
 margin: 20px;
}

.listas{
    text-align: center;
    background-color: rgba(39, 41, 36, 0.8);
    box-shadow: #000 4px 4px 10px;
    font-size: 25px;
    color: #F2F0F0;
    padding: 5px;
    margin: 15px;
    display: inline-block;
}

.titulos{
    text-align: center;
    background-color: #343a40;
    font-size: 25px;
    color: #F2F0F0;
    display: inline-block;
    width: 100%;
}

.btn-primary {
    margin: 20px;
}

/* -- Roda Pé -- */
.roda-pe{
    width: 100%;
    background-color: rgba(39, 41, 36, .9);
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 900px;
}

.roda-pe p{
    color: #E6EED6;
    font-size: 20px;
}

.mini-tabela {
    text-align: center;
    margin: 20px;
    width: 95%;
}

.form-itens {
    margin: 20px;
}

.modal-content {
    width: 100%;
    background-color: #ddd;
}


